//* Color

$color-primary: #bb5432;
$color-alternative: #f1c5b6;
$color-claire: #fff;

//* Taille texte

$font-weight-light: 300; // Textes
$font-weight-normal: 500; // liste de devises
$font-weight-medium: 700; // titre et résultat
