@use '../../styles/variables' as v;

.App {
  background: v.$color-alternative;
  margin: 0 auto;
  max-width: 300px;
  padding: 15px;
  width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  background-color: v.$color-primary;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: v.$color-claire;

  & h1 {
    font-weight: v.$font-weight-medium;
  }
}

.list-container {
  height: 200px;
  overflow-y: auto;
  background: v.$color-claire;
  font-weight: v.$font-weight-normal;
  color: v.$color-primary;

  & ul {
    padding: 0;
  }

  & h2 {
    font-weight: v.$font-weight-medium;
    padding: 10px;
    border-bottom: 1px solid v.$color-alternative;
  }

  & a {
    text-decoration: none;
    color: v.$color-primary;
  }

  & li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid v.$color-alternative;
    transition: 1s linear;
  }

  & li:hover {
    background: v.$color-alternative;
    transition: 0.2s linear;
  }
}

.footer {
  background: v.$color-claire;
  color: v.$color-primary;
  text-align: center;
  padding: 20px;

  & h2 {
    font-weight: v.$font-weight-medium;
  }

  & p {
    font-weight: v.$font-weight-light;
  }
}
